Source: python-django-babel
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Ivan Udovichenko <iudovichenko@mirantis.com>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-setuptools,
               python-sphinx,
               python3-all,
               python3-setuptools,
Build-Depends-Indep: python-babel,
                     python-django,
                     python-pytest,
                     python3-babel,
                     python3-django,
                     python3-pytest,
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/python-django-babel.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/python-django-babel.git
Homepage: https://github.com/graingert/django-babel/

Package: python-django-babel
Architecture: all
Depends: python-babel,
         python-django,
         ${misc:Depends},
         ${python:Depends},
Suggests: python-django-babel-doc,
Description: Utilities for using Babel in Django - Python 2.7
 This package contains various utilities for integration of Babel into the
 Django web framework:
  * A message extraction plugin for Django templates.
  * A middleware class that adds the Babel Locale object to requests.
  * A set of template tags for date and number formatting.
 .
 Babel provides a message extraction framework similar to GNU xgettext, but
 more extensible and geared towards Python applications. While Django does
 provide wrapper scripts for making the use of xgettext more convenient, the
 extraction functionality is rather limited. For example, you can't use
 template files with an extension other than .html, and everything needs to be
 in your project package directory.
 .
 This package contains the Python 2.7 module.

Package: python3-django-babel
Architecture: all
Depends: python3-babel,
         python3-django,
         ${misc:Depends},
         ${python3:Depends},
Suggests: python-django-babel-doc,
Description: Utilities for using Babel in Django - Python 3.x
 This package contains various utilities for integration of Babel into the
 Django web framework:
  * A message extraction plugin for Django templates.
  * A middleware class that adds the Babel Locale object to requests.
  * A set of template tags for date and number formatting.
 .
 Babel provides a message extraction framework similar to GNU xgettext, but
 more extensible and geared towards Python applications. While Django does
 provide wrapper scripts for making the use of xgettext more convenient, the
 extraction functionality is rather limited. For example, you can't use
 template files with an extension other than .html, and everything needs to be
 in your project package directory.
 .
 This package contains the Python 3.x module.

Package: python-django-babel-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Description: Utilities for using Babel in Django - doc
 This package contains various utilities for integration of Babel into the
 Django web framework:
  * A message extraction plugin for Django templates.
  * A middleware class that adds the Babel Locale object to requests.
  * A set of template tags for date and number formatting.
 .
 Babel provides a message extraction framework similar to GNU xgettext, but
 more extensible and geared towards Python applications. While Django does
 provide wrapper scripts for making the use of xgettext more convenient, the
 extraction functionality is rather limited. For example, you can't use
 template files with an extension other than .html, and everything needs to be
 in your project package directory.
 .
 This package contains the documentation.
